body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.dice-container{
    position: relative;
}

.dice{
    position: absolute;
    display: flex;
    flex-direction: column;
}

